<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pioneer Python</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png'%}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css'%}">
    <link rel="stylesheet" href="{% static 'css/animate.css'%}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <style>
        select {
            width: 100%;
            border: none;
            padding: 0 30px;
            margin-bottom: 20px;
            color: #000;
            border-radius: 3px;
            height: 50px;
        }
    </style>
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'index'%}" class="navbar-brand text-light font-weight-bold">
                                    <img src="{% static 'img/logo1.png'%}" height="50" width="50">
                                    <span>PIONEER PYTHON</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'index'%}">home</a></li>
                                        <li><a href="{% url 'myapp:courses'%}">Courses</a></li>
                                        <li><a href="{% url 'myapp:about' %}">About</a></li>
                                        <li><a href="{% url 'myapp:contact'%}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            
                                {% if user.is_authenticated %}
                                <div class="main-menu ">
                                <nav>
                                <ul class="navigation">
                            
                                <li>
                                    <a href="#">
                                        <i class="flaticon-user"></i>
                                        <span>My Profile </span>
                                    </a>
                                    <ul class="submenu">
                                        {% if user.is_superuser %}
                                        <li><a href="{% url 'admin:index'%}">Dashboard</a></li>
                                        {% else %}
                                        <li><a href="{% url 'myapp:instructor_dashboard'%}">Dashboard</a></li>
                                        {% endif %}
                                        <li><a href="{% url 'myapp:us_logout' %}">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                                {% else %}
                            <div class="log_chat_area d-flex align-items-center">
                                <a href="#test-form" class="login popup-with-form">
                                    <i class="flaticon-user"></i>
                                    <span>log in</span>
                                </a>
                                
                                <div class="live_chat_btn">
                                    <a class="boxed_btn_orange" href="#">
                                        <i class="fa fa-phone"></i>
                                        <span>+10 378 467 3672</span>
                                    </a>
                                </div>
                            </div>
                                {% endif %}
                            
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    {% block content %}
    {% endblock %}
        <!-- testimonial_area_start -->
    <div class="testimonial_area testimonial_bg_1 overlay">
        <div class="testmonial_active owl-carousel">
            <div class="single_testmoial">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="testmonial_text text-center">
                                <div class="author_img">
                                    <img src="img/testmonial/author_img.png" alt="">
                                </div>
                                <p>
                                    "Working in conjunction with humanitarian aid <br> agencies we have supported
                                    programmes to <br>
                                    alleviate.
                                    human suffering.

                                </p>
                                <span>- Jquileen</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_testmoial">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="testmonial_text text-center">
                                <div class="author_img">
                                    <img src="img/testmonial/author_img.png" alt="">
                                </div>
                                <p>
                                    "Working in conjunction with humanitarian aid <br> agencies we have supported
                                    programmes to <br>
                                    alleviate.
                                    human suffering.

                                </p>
                                <span>- Jquileen</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial_area_end -->

    <div class="our_courses">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Our Course Speciality</h3>
                        <p>
                            If you want to break into Python, this Specialization will help you do so. Python is one of the most highly sought after skills in tech. We will help you become good at Python Programming.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_course text-center">
                        <div class="icon">
                            <i class="flaticon-art-and-design"></i>
                        </div>
                        <h3>Free or Low-Cost Tuition    </h3>
                        <p>
                            We provide you various free course and
                            our premium courses are not so costly.
                            You can keep learning at very affordable price.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_course text-center">
                        <div class="icon blue">
                            <i class="flaticon-business-and-finance"></i>
                        </div>
                        <h3>Immediate<br/> access</h3>
                        <p>
                            There is only single click difference between
                            you and knowledge. Get immediate access 
                            of all course content after purchasing it.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_course text-center">
                        <div class="icon">
                            <i class="flaticon-premium"></i>
                        </div>
                        <h3>Lifetime<br> Access</h3>
                        <p>
                            You need to pay only once for all study matirial
                            including videos and notes. We provide you lifetime
                            access of all courses.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-6">
                    <div class="single_course text-center">
                        <div class="icon gradient">
                            <i class="flaticon-crown"></i>
                        </div>
                        <h3>Platform <br>Independant</h3>
                        <p>
                             You can access
                            course content at any internet connected device including
                            mobile, tablet, Desktop effectively.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our_courses_end -->
    
    <!-- footer -->
    <footer class="footer footer_bg_1">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <div class="logo text-center">
                                    <a href="{% url 'index'%}" class="navbar-brand text-light font-weight-bold">
                                         <img src="{% static 'img/logo1.png'%}" height="50" width="50">
                                         <span>PIONEER PYTHON</span>
                                     </a>
                                 </div>
                            </div>
                            <p>
                               We think Earning A Degree Online Is A Great Way To Advance Your Career While Working. Admissions. Financial Aid. Online Learning. Locations: Daytona Beach, Prescott.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/login">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/accounts/login/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 offset-xl-1 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Courses
                            </h3>
                            <ul>
                                {% for i in recent %}
                                <li><a href="{% url 'myapp:courses' %}">{{i}}</a></li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Resourches
                            </h3>
                            <ul>
                                <li><a href="{% url 'index'%}">Home</a></li>
                                <li><a href="{% url 'myapp:courses'%}">Courses</a></li>
                                <li><a href="{% url 'myapp:about'%}">About</a></li>
                                <li><a href="{% url 'myapp:contact'%}"> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Address
                            </h3>
                            <p>
                                200, D-block, Green lane USA <br>
                                +10 367 467 8934 <br>
                                edumark@contact.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->


    <!-- form itself end-->
    <form id="test-form" class="white-popup-block mfp-hide" method="post" action="{% url 'myapp:user_login' %}">
        {% csrf_token %}
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                   <a href="{% url 'index'%}" class="navbar-brand text-light font-weight-bold">
                        <img src="{% static 'img/logo1.png'%}" height="50" width="50">
                        <span>PIONEER PYTHON</span>
                    </a>
                </div>
                <h3>Sign in</h3>
                <form action="" method="post">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="email" placeholder="Enter email" name="login_email">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" placeholder="Password"name="login_pass">
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_orange">Sign in</button>
                        </div>
                    </div>
                </form>
                <p > <a class="text-white" href="{% url 'myapp:forgot_pass' %}">Forgot Password?</a>
                <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a>
                </p>
            </div>
        </div>
    </form>
    <!-- form itself end -->

    <!-- form itself end-->
    <form id="test-form2" action="{% url 'myapp:signup'%}" class="white-popup-block mfp-hide" method="post">
        <div class="popup_box ">
            <div class="popup_inner">
                <h3>Registration</h3>
                <form action="{% url 'myapp:signup'%}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="text" name="name" placeholder="Enter Full Name" id="name" required pattern="[A-Za-z\s]{2,}" title="Invalid Name (Should contain characters only & atleast 2 characters)">
                        </div>
                        <div class="col-xl-12 col-md-12 text-light text-left" style="display:none" id="user">
                            
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="email" name="email" placeholder="Enter email" id="email" required onkeyup="checkuser()">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <p id="rs" class="text-light float-left"></p>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" name="password" placeholder="Password" id="pass" onkeyup="checkpass()" required>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" placeholder="Confirm password" id="cpass" onkeyup="checkpass()" required>
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <select id="user_type" name="user_type">
                                <option value="student">I am Student</option>
                                <option value="instructor">I am Instructor</option>
                            </select>
                        </div>
                        <div class="col-xl-12">
                            <input type="submit" id="submit" name="signup" class="boxed_btn_orange" value="Sign Up">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <!-- form itself end -->
    <script>
        function checkpass(){
            let password = $("#pass").val();
            let confirm_password = $("#cpass").val();
             
            if (password == confirm_password){
                $("#submit").removeAttr("disabled");
                $("#rs").html("");
                $("#pass").removeClass("alert alert-danger").addClass("alert alert-success");
                $("#cpass").removeClass("alert alert-danger").addClass("alert alert-success");
            }else{
                $("#submit").attr("disabled","true");
                $("#rs").html("&times; Password does not match");
                $("#pass").removeClass("alert alert-success").addClass("alert alert-danger");
                $("#cpass").removeClass("alert alert-success").addClass("alert alert-danger");
            }
        }

        function checkuser(){
            let em = document.getElementById("email").value;

            $.ajax({
                url:"{% url 'myapp:check_user' %}",
                type:"get",
                data:{email:em},
                success:function(data){
                    if(data==1){
                        $("#user").show();
                        $("#user").html("A User with this email already exists");
                    }  else{
                        $("#user").hide();
                        $("#user").html("");
                    }
                }
            })
        }
    </script>

    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js'%}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'js/ajax-form.js'%}"></script>
    <script src="{% static 'js/waypoints.min.js'%}"></script>
    <script src="{% static 'js/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
    <script src="{% static 'js/scrollIt.js'%}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js'%}"></script>
    <script src="{% static 'js/wow.min.js'%}"></script>
    <script src="{% static 'js/nice-select.min.js'%}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js'%}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="{% static 'js/gijgo.min.js'%}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js'%}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js'%}"></script>
    <script src="{% static 'js/jquery.form.js'%}"></script>
    <script src="{% static 'js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'js/mail-script.js'%}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>