{% extends "base.html" %}
{% block content %}
<style>
        tr .title{
                width: 50%;
        }
        input[type="image"]{
                height:50px;
        }
</style>
{% if not user.is_authenticated %}
<div style="height:100px;background:#6610f2;"></div>
        <div class="container">
                <div class="row">
                        <div class=" col-md-12 jumbotron my-4">
                                <h1>YOU NEED TO LOGIN FIRST</h1>
                        </div>
                </div>
        </div>
{% else %}
<!-- bradcam_area_start -->
        <div class="bradcam_area overlay2" style="background:url('/static/cart.jpg');background-size:100% 100%;">
                <h3>My Cart ({{items|length}}) </h3>
        </div>
            <!-- bradcam_area_end -->
    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-md-12">
                                {% if status %}
                                        <div class="alert {{class}}">{{status}}</div>
                                {% endif %}
                        </div>
                </div>
                <div class="row" id="mycart">
                        <div class="col-md-8">
                                <table class="table table-hover">
                                        <tbody>
                                                {% for i in items %}
                                                <tr>
                                                        <td>
                                                                <a href="single_course?cid={{i.course_id.id}}&type=normal">
                                                                <img src="/media/{{i.course_id.cover_image}}" style="width:100px;height:80px;">
                                                                </a>
                                                        </td>
                                                        <td class="title">
                                                                <h4>{{i.course_id.course_title}}</h4>
                                                                <p>By {{i.course_id.inst_id.first_name }} <br>
                                                                        {{i.course_id.total_hours}} Hours
                                                                </p>
                                                        </td>
                                                        <td><br>
                                                                <p style="color:#FDAE5C;font-size:20px;font-weight: bold;"><strong>&#8377;{{i.course_id.sale_price}}</strong><br>
                                                                        <del>&#8377; {{i.course_id.course_price}}</del></p>
                                                        </td>
                                                        <td>    <br>
                                                                <a href="{% url 'myapp:remove_cart' %}?cart_id={{i.id}}" class="btn btn-danger">&times Remove</a>
                                                        </td>
                                                </tr>
                                                </a>
                                                {% endfor %}
                                        </tbody>
                                        
                                </table>
                        </div>
                        {% if not items|length == 0 %}
                        <div class="col-md-4 px-5">
                                <div class="card">
                                        <div class="card-header">
                                                <h2>CHECKOUT </h2>
                                        </div>
                                        <div class="card-body">
                                                <div style="border-bottom:2px dotted black;" class="p-2">
                                                        <script>let s=0;t=0</script>
                                                        {% for i in items %}
                                                          <h5>
                                                                  <span >Item Price</span>
                                                                  <span style="float:right">&#8377; {{i.course_id.sale_price}}</span>
                                                                <script>
                                                                        t += parseInt("{{i.course_id.course_price}}")
                                                                        s += parseInt("{{i.course_id.sale_price}}")
                                                                </script>
                                                        </h5>
                                                        {% endfor %}
                                                </div>
                                                <div style="border-bottom:2px dotted black;" class="p-2">
                                                        <h5>
                                                                <span >Offer</span>
                                                                <span style="float:right"> <script>document.write("<del>&#8377;"+t+"</del>");
                                                                let off = 100-((s/t)*100);
                                                                document.write(" ("+Math.round(off,2)+"%)")
                                                                </script></span>
                                                            
                                                      </h5> 
                                                </div>
                                                <div style="border-bottom:2px dotted black;" class="p-2">
                                                        <h5>
                                                                <span >ITEM TOTAL</span>
                                                                <span style="float:right"> <script>
                                                                document.write("&#8377;"+Math.round(s,2))
                                                                </script></span>
                                                            
                                                      </h5> 
                                                </div>
                                                <div class="py-5 text-center">
                                                        
                                                        <a href="{% url 'myapp:process_payment'%}" class="btn btn-block rounded-pill text-light" style="background:#ff5e13">PROCEED TO CHECKOUT</a>
                                                        
                                                </div>
                                        </div>
                                </div>
                        </div> 
                        {% endif %} 
                </div>
        </div>

    </section>
    {%endif %}

{% endblock %}