{% extends "base.html"%}
{% load static %}
{% block content %}
 <!-- bradcam_area_start -->
        <div class="bradcam_area  overlay2" style="background:url('/static/img.jpg');background-size:100% 100%;">
            <h3>Our Courses</h3>
        </div>
        <!-- bradcam_area_end -->

    <!-- popular_courses_start -->
    <div class="popular_courses plus_padding" id="abcd">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="course_nav">
                        <nav>
                            <ul class="nav" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true" onclick="tab_data('None','{{i.category_title}}')">All Courses({{all|length}})</a>
                                </li>
                                {% for i in cats %}
                                <li class="nav-item">
                                    <a  class="nav-link" id="home-{{i.id}}" data-toggle="tab" href="#h{{i.id}}" role="tab"
                                        aria-controls="home" aria-selected="" onclick="tab_data('{{i.id}}','{{i.category_title}}')">{{i.category_title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <div class="all_courses">
            <div class="container">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            {% for i in all %}
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single_courses">
                                    <div class="thumb">
                                        <a href="{% url 'myapp:single_course' %}?cid={{i.id}}&type=normal">
                                            <img src="/media/{{i.cover_image}}" height="250" width="100%">
                                        </a>
                                    </div>
                                    <div class="courses_info">
                                        <span>{{i.course_category.course_title}}</span>
                                        <h3 style="height:50px;"><a href="{% url 'myapp:single_course' %}?cid={{i.id}}&type=normal">{{i.course_title}}</a></h3>
                                        <div class="star_prise d-flex justify-content-between">
                                            <div class="star">
                                                <i class="flaticon-mark-as-favorite-star"></i>
                                                <span>(4.5)</span>
                                            </div>
                                            <div class="prise">
                                                <span class="offer">&#8377; {{i.course_price}}</span>
                                                <span class="active_prise">
                                                    &#8377; {{i.sale_price}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            {% endfor %}
                        </div>
                    </div>
                    <div id="myresult"></div>
                </div>
            </div> 
        </div>
    </div>
    <!-- popular_courses_end-->
    <script>
        let cc = 1;
        function tab_data(id,cname){
            $.ajax({
                url:"{% url 'myapp:get_course_data' %}",
                type:"get",
                data:{cat_id:id},
                success:function(data){
                    let result = "";
                    
                        result += '<div  class="tab-pane fade show active"  id="h'+id+'" role="tabpanel" aria-labelledby="home-'+id+'">';                        
                   
                    result += '<div class="row">';
                    
                    for(i in data.data){
                        result += '<div class="col-xl-4 col-lg-4 col-md-6">';
                        result += '<div class="single_courses">';
                        result += '<div class="thumb">';
                        result +='<a href="#">';
                        result += '<img src="/media/'+data.data[i].cover_image+'" width="100%" height="200" alt="No Image">';
                        result += '</a>';
                        result += '</div>';
                        result += '<div class="courses_info">';
                        result += '<span>'+cname+'</span>';
                        result += '<h3 style="height:50px;"><a href="/myapp/single_course?cid='+data.data[i].id+'&type=normal">'+data.data[i].course_title+'</a></h3>';  
                        result += '<div class="star_prise d-flex justify-content-between">';  
                        result += '<div class="star">';
                        result += '<i class="flaticon-mark-as-favorite-star"></i>';
                        result += '<span>(4.5)</span>';
                        result += '</div>';
                        result += '<div class="prise">';
                        result += '<span class="offer">&#8377;'+data.data[i].course_price+' </span>';
                        result += '<span class="active_prise">&#8377;'+data.data[i].sale_price+' </span>';
                        result += '</div>';
                        result += '</div>';
                        result += '</div>';
                        result += '</div>';
                        result += '</div>';
                    }
                    result += '</div>';
                    result += '</div>';
                    $("#myTabContent").html(result);
                }
            })
        }
    </script>
{% endblock %}