{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="height:100px;background:#6610f2;"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto p-5 shadow shadow-lg my-5">
            <div>
                <form method="post">
                    {% csrf_token %}
                    <h4>Get Your Password</h4> <hr>
                    <div id="msz"></div>
                    <div id="beforeotp">
                        <div class="form-group">
                            <label>Enter Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-warning" id="gp" onclick="Get_Password()">Click to Proceed</button>
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="spinner spinner-grow text-warning"  id="spn" style="height:100px;width:100px;display:none;"></span>
                    </div>
                    <div id="afterotp" style="display:none;">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Enter OTP" required id="user_otp">
                            <input type="hidden" class="form-control" id="actual_otp">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-warning" id="votp" onclick="match_otp()">Verify OTP</button>
                        </div>
                    </div>
                    <div id="changepass" style="display:none;">
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Set Up New Password" required>
                            
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" >CHANGE MY PASSWORD</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function Get_Password(){
        $("#spn").show();
        let v = $("#username").val();
        $.ajax({
            url:"{% url 'myapp:verify_otp' %}",
            type:"get",
            data:{username:v},
            success:function(data){
                $("#spn").hide();
                if(data.status=="success"){
                    $("#msz").html("<p class='alert alert-info'>An OTP sent to your registered email "+data.email+"</p>")
                    $("#afterotp").slideDown(1000);     
                    $("#gp").hide();     
                    $("#actual_otp").val(data.myotp)
               
                }else if(data.status=="send_fail"){
                    $("#msz").html("<p class='alert alert-info'>Invalid Email ID (with account)/ Check Internet Connection Properly</p>")                    
                }
                else if (data.status =="failed"){
                    $("#msz").html("<p class='alert alert-danger'>No Account found with this username</p>")          
                }
            }
        })
    }

    function match_otp(){
        let aotp = $("#actual_otp").val();
        let uotp = $("#user_otp").val();
        if(aotp==uotp){
            $("#msz").html("<p class='alert alert-success'>OTP Matched !!!</p>")
            $("#afterotp").fadeOut("slow");
            $("#changepass").fadeIn();

        }else{
            $("#msz").html("<p class='alert alert-danger'>OTP does not matched !!!</p>") ;               
        }
    }
</script>

{% if status %}
<script>
    alert("{{status}}");
    window.location="/"
</script>
{% endif %}
{% endblock %}