{% extends "base.html"%}
{% block content %}
{% if status %}
    <script>
        alert("{{response}}");
        window.location="/"
    </script>
{% endif %}
    <!-- slider_area_start -->
    <div class="slider_area ">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="illastrator_png">
                            <img src="/static/img/banner/edu_ilastration.png">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_info">
                            <h3>Learn your <br>
                                Favorite Course <br>
                                From Online</h3>
                            <a href="{%url 'myapp:courses' %}" class="boxed_btn">Browse Our Courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="single_about_info">
                        <h3>Over 7000 Tutorials <br>
                            from 20 Courses</h3>
                        <p>When you enroll in a course, you'll be able to start right away or come back any time to start/continue.
                        It is lifetime access. So don't waster your time. Happy Learning!!! </p>
                        <a href="#" class="boxed_btn">Enroll a Course</a>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="about_tutorials">
                        <div class="courses">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>20+</span>
                                    <p> Courses</p>
                                </div>
                            </div>
                        </div>
                        <div class="courses-blue">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>7638</span>
                                    <p> Courses</p>
                                </div>

                            </div>
                        </div>
                        <div class="courses-sky">
                            <div class="inner_courses">
                                <div class="text_info">
                                    <span>230+</span>
                                    <p> Courses</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->
<!-- our_categories_start -->
    <div class="our_latest_blog">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Our Recent Categories</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for i in recent %}
                <div class="col-xl-4 col-md-4">
                    <div class="single_latest_blog" style="box-shadow:0px 0px 5px black;">
                        <div class="thumb">
                            <img src="/media/{{i.cover_picture}}" alt="" height="200">
                        </div>
                        <div class="content_blog p-4">
                            <div class="date">
                                <p>{{i.added_on}}</p>
                            </div>
                            <div class="blog_meta" style="height:50px;">
                                <h3><a href="{% url 'myapp:courses' %}#abcd">{{i.category_title}}</a></h3>
                            </div>
                            <p class="blog_text text-justified">
                               {{i.description|slice:100}}...
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
                <div class="col-xl-12 col-md-12 text-center">
                    
                    <a href="{% url 'myapp:about'%}#cats" class="boxed_btn">Browse More Categories</a>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- our_categories_end -->
    <!-- popular_courses_start -->
    <div class="popular_courses">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Popular Courses</h3>
                        <p>Your domain control panel is designed for ease-of-use and <br> allows for all aspects of your
                            domains.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="course_nav">
                        <nav>
                            <ul class="nav" id="myTab" role="tablist">
                                {% for i in pop %}
                                <li class="nav-item">
                                    {% if i.id == 1 %}
                                    <a  class="nav-link active" id="home-{{i.id}}" data-toggle="tab" href="#h{{i.id}}" role="tab"
                                        aria-controls="home" aria-selected="" onclick="tab_data('{{i.id}}','{{i.category_title}}')">{{i.category_title}}</a>
                                    <script> 
                                        $(function(){
                                            tab_data('{{i.id}}','{{i.category_title}}') 
                                        });
                                    </script>
                                    {% else %}
                                    <a  class="nav-link" id="home-{{i.id}}" data-toggle="tab" href="#h{{i.id}}" role="tab"
                                        aria-controls="home" aria-selected="" onclick="tab_data('{{i.id}}','{{i.category_title}}')">{{i.category_title}}</a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <div class="all_courses">
            <div class="container">
                <div class="tab-content" id="myTabContent">
                    <!-- AJAX CODE GOES HERE -->
                </div>
            </div>
        </div>
    </div>
    <!-- popular_courses_end-->

    <!-- our_courses_start -->


    <script>
        let cc = 1;
        function tab_data(id,cname){
            $.ajax({
                url:"{% url 'myapp:get_course_data' %}",
                type:"get",
                data:{cat_id:id},
                success:function(data){
                    let result = "";
                    
                        result += '<div  class="tab-pane fade show active"  id="h'+id+'" role="tabpanel" aria-labelledby="home-'+id+'">';                        
                   
                    result += '<div class="row">';
                    
                    for(i in data.data){
                        result += '<div class="col-xl-4 col-lg-4 col-md-6">';
                        result += '<div class="single_courses">';
                        result += '<div class="thumb">';
                        result +='<a href="#">';
                        result += '<img src="/media/'+data.data[i].cover_image+'" width="100%" height="200" alt="No Image">';
                        result += '</a>';
                        result += '</div>';
                        result += '<div class="courses_info">';
                        result += '<span>'+cname+'</span>';
                        result += '<h3 style="height:50px;"><a href="/myapp/single_course?cid='+data.data[i].id+'&type=normal">'+data.data[i].course_title+'</a></h3>';  
                        result += '<div class="star_prise d-flex justify-content-between">';  
                        result += '<div class="star">';
                        result += '<i class="flaticon-mark-as-favorite-star"></i>';
                        result += '<span>(4.5)</span>';
                        result += '</div>';
                        result += '<div class="prise">';
                        result += '<span class="offer">&#8377;'+data.data[i].course_price+' </span>';
                        result += '<span class="active_prise">&#8377;'+data.data[i].sale_price+' </span>';
                        result += '</div>';
                        result += '</div>';
                        result += '</div>';
                        result += '</div>';
                        result += '</div>';
                    }
                    result += '</div>';
                    result += '</div>';
                    $("#myTabContent").html(result);
                }
            })
        }
    </script>
{% endblock %}