{% extends "base.html" %}
{% block content %}
<div style="height:100px;background:#6610f2;"></div>
<div class="container">
        <div class="row">
                <div class=" col-md-8 mx-auto  my-4">
                    <div class="card shadow shadow-lg text-center p-5">
                        <div class="card-body">
                            <h2>MAKE PAYMENT WITH PAYPAL</h2>
                            {{form.render}}

                            <div class="mt-4">
                                <a href="{% url 'myapp:cart' %}" class="btn btn-block rounded-pill text-light" style="background:#ff5e13">Back to Cart</a>
                            </div>
                        </div>

                    </div>

                </div>
        </div>
</div>
{% endblock %}