{% extends "base.html" %}
{% load static %}
{% block content %}
<div style="height:100px;background:#6610f2;"></div>
<div class="container">
        <div class="row">
                <div class=" col-md-8 mx-auto  my-4">
                    <div class="card shadow shadow-lg text-center p-5">
                        <div class="card-body text-center" style="color:#ccc;">
                            <img src="{% static 'success.gif' %}" alt="">
                            <h3 class="my-3">PAYMENT DONE</h3>

                            <div class="mt-4">
                                <a href="{% url 'myapp:courses' %}" class="btn btn-block rounded-pill text-light" style="background:#ff5e13">CONTINUE SHOPPING</a>
                            </div>
                        </div>

                    </div>

                </div>
        </div>
</div>
{% endblock %}