{% extends "dashboard/dashboard_base.html" %}
{% load bootstrap4 %}
{% block head %}
<script src="/static/jquery.js"></script>
  <style>
    .nc-cloud-upload-94{
      font-size:20px;
    }
  </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card demo-icons">
        <div class="card-header text-center">
          <h5 class="card-title">Add Course</h5>
          <p class="card-category">You are one step below to add your coure, Fill details and click on submit button!</p>
        </div>
        <div class="card-body bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                
                  <button type="submit" class="btn btn-primary">CLICK TO CONTINUE</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    let a = $("#id_cover_image").before('<i class="nc-icon nc-cloud-upload-94"></i>');
  })
  
</script>
{% endblock %}