{% extends "dashboard/dashboard_base.html" %}
{% load bootstrap4 %}
{% block head %}

<script src="/static/jquery.js"></script>
<style>
    .ic{
        font-size: 25px;
    }
    .btn{
      background:#ef8157;
    }
</style>

{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card demo-icons">
        <div class="card-header text-center">
          <h5 class="card-title">Add Experience</h5>
        </div>
        <div class="card-body bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mx-auto">
                {% if status %}
                  <div class="alert alert-primary">{{status}}</div>
                {% endif %}
                <form action="" method="post">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <input type="submit" value="Save Experience" class="btn">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}