{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block head %}
<style>

 </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 bg-white mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                <h2>Get Your Password</h2><hr>
                {% if msz %}
                    <div class="alert {{status}}">{{msz}}</div>
                {% endif %}
                <div class="form-group">
                    <label>Current Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-eye" id="pasicon" style="font-size: 15px;" onclick="abcd()"></i>
                            </span>
                        </div> 
                        <input type="password" placeholder="Current Password"
                        class="form-control" name="old" id="old">
                    </div>
                </div>
                <div class="form-group">
                    <label> New Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key" style="font-size: 15px;"></i>
                            </span>
                        </div>
                    
                    <input type="password" placeholder="New Password"
                    class="form-control " name="new" id="new" onkeyup="match_pass()">
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key" style="font-size: 15px;"></i>
                            </span>
                        </div>
                    
                    <input type="password" placeholder="confirm Password"
                    class="form-control "name="anew" id="pnew" onkeyup="match_pass()">
                    </div>
                </div>
           <button id="submit" class="btn btn-success" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>
    <script>
        function match_pass(){
            let p = $("#new").val();
            let cp = $("#pnew").val();
            
            if(p==cp){
                $("#new").css("border","1px solid green");
                $("#pnew").css("border","1px solid green");
                $("#submit").removeAttr("disabled")
            }else{
                $("#new").css("border","1px solid red");
                $("#pnew").css("border","1px solid red");
                $("#submit").attr("disabled","disabled")
            }
        }

     
    function abcd(){
        let a = $("#old").attr("type");
        if(a=="password"){
            $("#old").attr("type","text")
            $("#pasicon").removeClass("fas fa-eye").addClass("fas fa-eye-slash");
        }else{
            $("#old").attr("type","password")
            $("#pasicon").removeClass("fas fa-eye-slash").addClass("fas fa-eye");
        }
    }
            
    </script>
{% endblock %}