<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png'%}">
  <link rel="icon" type="image/png" href="{% static 'img/logo1.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    PIONEER PYTHON | TEACHER DASHBOARD
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/paper-dashboard.css' %}?v=2.0.1" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% block head %} {% endblock %}

</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="" class="simple-text logo-mini">
          <div class="logo-image-small">
              {% if inst.profile_picture %}
                <img src="/media/{{inst.profile_picture}}" alt="..." class="rounded-circle">
              {% else %}
                <img src="/static/noimg.png" alt="..."  class="rounded-circle">
              {% endif %}
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          {{user.first_name}}
         
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{% url 'myapp:instructor_dashboard' %}">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li> 
          {% if not user.is_staff %}
          <li class="nav-item btn-rotate ">
            <a class="nav-link" href="{% url 'myapp:cart' %}" id="navbarDropdownMenuLink" >
              <i class="nc-icon nc-cart-simple"></i>
              <p>My Cart</p>
            </a>
          </li>
          <li>
            <a href="{% url 'myapp:student_orders' %}">
              <i class="nc-icon nc-briefcase-24"></i>
              <p>My Orders</p>
            </a>
          </li>
          <li>
            <a href="{% url 'myapp:pending_orders' %}">
              <i class="nc-icon nc-briefcase-24"></i>
              <p>Pending Orders</p>
            </a>
          </li>
          {% endif%}
          {% if user.is_staff %}
          <li>
            <a href="{% url 'myapp:instructor_courses' %}">
              <i class="nc-icon nc-briefcase-24"></i>
              <p>My Courses</p>
            </a>
          </li>
          <li>
            <a href="{% url 'myapp:inst_add_course' %}">
              <i class="nc-icon nc-hat-3"></i>
              <p>Add Course</p>
            </a>
          </li>
          <li>
            <a href="{% url 'myapp:add_inst_experience' %}">
              <i class="nc-icon nc-watch-time"></i>
              <p>Add Experience</p>
            </a>
          </li>
          <li>
            <a href="{% url 'myapp:my_students' %}">
              <i class="nc-icon nc-circle-10"></i>
              <p>My Students</p>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'myapp:instructor_profile' %}">
              <i class="nc-icon nc-single-02"></i>
              <p>Edit Profile</p>
            </a>
          </li>
          <li>
            <a href="{% url 'myapp:change_pass' %}">
              <i class="nc-icon nc-key-25"></i>
              <p>Change Password</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="{% url 'myapp:us_logout' %}">
              <i class="nc-icon nc-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid bg-light">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a href="{% url 'index' %}" class="navbar-brand">
              Home &gt;
            </a>
            {% if user.is_staff %}
            <a class="navbar-brand" href="javascript:;">Instructor Dashboard</a>
            {% else %}
            <a class="navbar-brand" href="javascript:;">Student Dashboard</a>
            {% endif %}
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
           {% if user.is_staff %}
            <form method="post" action="{% url 'myapp:instructor_courses' %}">
              {% csrf_token %}
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search..." name="search">
                <div class="input-group-append">
                  <div class="input-group-text">
                   <button style="border:none;" type="submit"> <i class="nc-icon nc-zoom-split"></i></button>
                  </div>
                </div>
              </div>
            </form>
            {% endif %}
            <ul class="navbar-nav d-lg-none d-md-block">
              <li class="nav-item">
                <a class="nav-link btn-magnify" href="{% url 'myapp:instructor_dashboard' %}">
                  <i class="nc-icon nc-layout-11"></i>
                  <p>
                   Dashboard
                  </p>
                </a>
              </li>
              {% if not user.is_staff %}
          <li class="nav-item btn-rotate ">
            <a class="nav-link" href="{% url 'myapp:cart' %}" id="navbarDropdownMenuLink" >
              <i class="nc-icon nc-cart-simple"></i>
              <p>My Cart</p>
            </a>
          </li>
          <li class="nav-item btn-rotate ">
            <a href="{% url 'myapp:student_orders' %}" class="nav-link">
              <i class="nc-icon nc-briefcase-24"></i>
              <p>My Orders</p>
            </a>
          </li>
          <li class="nav-item btn-rotate ">
            <a href="{% url 'myapp:pending_orders' %}" class="nav-link">
              <i class="nc-icon nc-briefcase-24"></i>
              <p>Pending Orders</p>
            </a>
          </li>
          {% endif%}
          {% if user.is_staff %}
              <li class="nav-item btn-rotate ">
                <a class="nav-link" href="{% url 'myapp:inst_add_course' %}" id="navbarDropdownMenuLink" >
                  <i class="nc-icon nc-hat-3"></i>
                  <p>Add Course</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link btn-rotate" href="{% url 'myapp:instructor_courses' %}">
                    <i class="nc-icon nc-briefcase-24"></i>
                    <p>My Courses</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'myapp:my_students' %}" class="nav-link">
                  <i class="nc-icon nc-circle-10"></i>
                  <p>My Students</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn-rotate" href="{% url 'myapp:add_inst_experience' %}">
                  <i class="nc-icon nc-watch-time"></i>
                  <p>Add Experience</p>
                </a>
              </li>
              {% endif %}
              
              <li class="nav-item">
                <a href="{% url 'myapp:instructor_profile' %}" class="nav-link">
                  <i class="nc-icon nc-single-02"></i>
                  <p>Edit Profile</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'myapp:change_pass' %}" class="nav-link">
                  <i class="nc-icon nc-key-25"></i>
                  <p>Change Password</p>
                </a>
              </li>
              
              <li class="active-pro nav-item">
                <a href="{% url 'myapp:us_logout' %}" class="nav-link">
                  <i class="nc-icon nc-button-power"></i>
                  <p>Logout</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          {% block content %}

          {% endblock %}          
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="" target="_blank">PIONEER PYTHON TEAM</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by PIONEER PYTHON TEAM
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/paper-dashboard.min.js' %}?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/demo/demo.js' %}"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>
</body>

</html>
