{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block head %}
<style>
    .bg{
        background: url(/static/img/handpen.jpg); background-size: cover;
    }
    .bg1{
        background: rgba(0,0,0,0.1);
    }

    .profileicons{
        background:#ef8157;color:white;font-size:30px;padding:30px;border-radius:50%;margin:auto;
    }
    .myicons{
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
{% if user.is_staff %}
<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-6 px-5">
             <h1>Instructor Profile</h1>
             <p class="o">Home &gt;&gt; Dashboard &gt;&gt; Instructor Profile</p>
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid bg1 my-5">
    <div class="row">
        <div class="col-md-4 my-5">
            <div class="card-header text-center" style="color:black;background: white;">
                {% if inst.profile_picture %}
                    <img src="/media/{{inst.profile_picture}}" alt="..." class=" rounded-circle" height="200" width="200">
                {% else %}
                    <img src="/static/noimg.png" alt="..."  class=" rounded-circle" height="200" width="200">
                {% endif %}
                <h3 class="card-title text-center">{{user.first_name}}</h3>
                <p class="card-text text-center" >{{inst.position}} </p>
                <ul class="myicons" style="word-spacing: 10px; margin-top: 40px;">
                    <ul class="list-inline myicons" style="word-spacing: 10px; margin-top: 40px;">
                    <li class="">
                        <i class="far fa-user profileicons"></i>
                        <h4>Students</h4>
                        <p>0</p>
                    </li>
                    <li class=""><i class="fas fa-book-open profileicons   "></i>
                        <h4>Courses</h4>
                        <p>{{courses|length}}</p>
                    </li>
                    <li class=""><i class="far fa-star profileicons"></i>
                        <h4 class="ml-2">Reviwes</h4>
                        <p class="ml-4">0</p>
                    </li>
                </ul>
            </div>
            <div class="card-body" style="background:white">
                <p>Email Address:</p>
                <h4>{{user.email}}</h4>
                <p>Phone:</p>
                <h4>{{inst.contact}}</h4>
                <p>Location:</p>
                <h4>{{inst.full_address}}, <br>
                    {{inst.city_id.city_name}}, {{inst.city_id.state}}, <br>
                    {{inst.city_id.country}} - {{inst.city_id.pin_code}}
                </h4>
            </div>
            <div class="card-footer" style="background: white;">
                <p style="font-size: 20px;">Social Profile</p>
                <div style="word-spacing: 30px;">
                    <i  style="background: blue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-facebook-f " title="{{inst.facebook_address}}"></i>
                    <i style="background: skyblue;color: white;padding: 15px;border-radius: 50%; " class="fab fa-twitter" title="{{inst.twitter_address}}"></i>
                    <i style="background: red; color: white;padding: 15px;border-radius: 50%;" class="fab fa-google-plus"></i>
                    <i style="background: turquoise;color: white;padding: 15px;border-radius: 50%;" class="fab fa-instagram" title="{{inst.instagram_address}}"></i>
                </div> 
            </div>
        </div>
        <div class="col-md-8 my-5" style="background: white;">
            <p class="my-2" style="font-size: 20px;">About</p><hr>
            <h2>Biography</h2>
            <div style="height:300px;overflow:auto;">
                <p style="font-size: 15px;">{{inst.about}}</p>
            </div>
            <hr/>
            <h2>Experience</h2>
            {% for i in experience%}
                <h6 style="margin-top: 30px;">{{i.from_year}}-{{i.to}}</h6>
                <h6 style="font-size: 20px;font-weight: bold;">{{i.position}}</h6>
                <h6>{{i.organization_name}}</h6>
                <p style="font-size: 15px;">{{i.description}}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

