{% extends "dashboard/dashboard_base.html" %}
{% load bootstrap4 %}
{% block head %}
<script src="/static/jquery.js"></script>
  <style>
    .nc-icon,.ic{
      font-size:20px;
    }
    input{
      height:35px !important;
    }
    #watch{
      animation: myani 2s infinite linear;display:none;
    }
    .ch{
      background:#ef8157 !important;
    }
    .ch .card-link{
      color:white;
    }
    @keyframes myani{
      from{transform:rotate(0deg)}
      to{transform:rotate(360deg)}
    }
  </style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- EDIT COURSE -->
    <div class="col-md-12">
      <div class="card demo-icons">
        <div class="card-header text-center">
          <h5 class="card-title">Edit Course</h5>
        </div>
        <div class="card-body bg-light">
          <div class="container">
            <div class="row">
              <!-- EDIT FIELDS LEFT SIDE -->
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6">
                    <img src="/media/{{course.cover_image}}" height="200" width="100%">
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Course Title</label>
                      <input type="text" class="form-control" placeholder="Course Title" value="{{course.course_title}}" id="title">
                    </div>
                    <div class="form-group">                  
                      <label>Course Category</label>
                      <input type="text" class="form-control" placeholder="Course Category" value="{{course.course_category.category_title}}" disabled>
                    </div>
                    <div class="form-group">                  
                      <div class="row">
                        <div class="col-md-6">
                          <label>Course Price (&#8377;)</label>
                          <input type="number" class="form-control" placeholder="Course Price" value="{{course.course_price}}" id="price">    
                        </div>
                        <div class="col-md-6">
                          <label>Discount Price (&#8377;)</label>
                          <input type="number" class="form-control" placeholder="Course Price" value="{{course.sale_price}}" id="sprice">    
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <textarea name="description" rows="20" class="form-control" id="description">{{course.description}}</textarea>
                  </div>
                  <div class="col-md-12">
                    <button class="btn ch" onclick="save_changes()"> <i class="nc-icon nc-watch-time" id="watch"></i> Save Changes</button>
                  </div>
                </div>
              </div>

              <!-- ADD TOPIC -->
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    {% if status %}
                      <p class="alert alert-info">{{status}}</p>
                    {% endif %}
                    <form action="" method="post" enctype="multipart/form-data">
                      {% csrf_token%}
                      <div class="form-group"> 
                        <label for="">Topic Name</label>
                        <input type="text" class="form-control" placeholder="Topic Name" id="topic" name="topic">
                        <input type="hidden" class="form-control" value="{{course.id}}"name="cid">
                      </div>
                      <div class="form-group"> 
                        <label for="">Content</label>
                        <textarea name="content" id="content" class="form-control" placeholder="Content"></textarea>
                      </div>
                      <div class="form-group"> 
                        <label for="">Click to Upload Video</label>
                        <input type="file" name="video" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-success btn-block">Add Topic</button>
                    </form>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- All Topics -->
    <div class="col-md-12">
      <div class="card demo-icons">
        <div class="card-header text-center">
          <h5 class="card-title">All topics ({{topics|length}}) </h5>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div id="accordion">
                {% for i in topics %}
                  <div class="card">
                    <div class="card-header ch">
                      <a class="float-left card-link {% if i.id == topics|length %} collapsed {% endif %}" data-toggle="collapse" href="#collapse{{i.id}}">
                        {{i.topic_name}}
                      </a>
                      <a onclick="delTopic('{{i.id}}','{{i.topic_name}}')" class="float-right card-link"><i class="fa fa-trash ic"></i></a>
                    </div>
                    <div id="collapse{{i.id}}" class="collapse {% if   i.id == topics|length %} show {% endif %} " data-parent="#accordion">
                      <div class="card-body">
                        {{i.content}}
                        <video src="/media/{{i.file}}" controls  width="100%">
                          <source src="/media/{{i.file}}">
                        </video>

                        <em class="float-right">Upload On: {{i.added_on}}</em>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function save_changes(){
    let tt = document.getElementById("title").value;
    let pr = document.getElementById("price").value;
    let sp = document.getElementById("sprice").value;
    let des = document.getElementById("description").value;
    $("#watch").show();
    $.ajax({
      url:"{% url 'myapp:edit_course' %}",
      type:"get",
      data:{id:'{{course.id}}',title:tt,price:pr,sp:sp,des:des},
      success:function(data){
        alert(data);
        $("#watch").hide();
      }
    })
  }
</script>
<script>
  function delTopic(id,topic){
    con = confirm("Are you sure want to delete "+topic+"?\nClick OK to Delete");
    if(con==true){
      $.ajax({
        url:"{% url 'myapp:delete_topic' %}",
        type:"get",
        data:{topic_id:id},
        success:function(data){
          alert(topic+data);
        }
      })
    }else{

    }
  }
</script>
{% endblock %}