{% extends "dashboard/dashboard_base.html" %}
{% load bootstrap4 %}

{% block head %}

<script src="/static/jquery.js"></script>
<style>
    .ic{
        font-size: 25px;
    }
</style>

{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card demo-icons">
        <div class="card-header text-center">
          <h5 class="card-title">My Courses ({{courses|length}})</h5>
        </div>
        <div class="card-body bg-light">
          <div class="container">
            <div class="row">
              <div class="col-md-12 mx-auto">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Course</th>
                            <th>Course Title</th>
                            <th>Category</th>
                            <th>Date Published</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in courses %}
                        <a href="/cid={{i.id}}">
                        <tr>
                            <td>{{i.id}}</td>
                            <td><img src="/media/{{i.cover_image}}" height="50" width="100"></td>
                            <td>{{i.course_title}}</td>
                            <td>{{i.course_category.category_title}}</td>
                            <td>{{i.added_on}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="{% url 'myapp:single_course' %}?cid={{i.id}}"><i class="fa fa-eye ic"></i></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{% url 'myapp:edit_course' %}?cid={{i.id}}"><i class="fa fa-edit ic"></i></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a onclick="del_course('{{i.id}}','{{i.course_title}}')"><i class="fa fa-trash text-danger ic"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </a>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function del_course(id,topic){
    con = confirm("Are you sure want to delete "+topic+"?\nClick OK to Delete");
    if(con==true){
      $.ajax({
        url:"{% url 'myapp:delete_topic' %}",
        type:"get",
        data:{course_id:id},
        success:function(data){
          alert(topic+data);
        }
      })
    }else{

    }
  }
</script>
{% endblock %}