{% extends "dashboard/dashboard_base.html" %}
{% load bootstrap4 %}

{% block head %}

<script src="/static/jquery.js"></script>

{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card demo-icons">
        <div class="card-header text-center">
          <h5 class="card-title">My Students ({{students|length}})</h5>
        </div>
        <div class="card-body bg-light">
          <div class="container">
            <div class="row">
              {% for i in students %}
                <div class="col-md-4">
                    <div class="p-4 bg-white">
                      {% if i.image %}
                        <img src="/media/{{i.image}}" alt="..." class="img-rounded" height="250" width="100%">
                      {% else %}
                        <img src="/static/noimg.png" alt="..."  class="rounded-circle" height="250" width="100%">
                      {% endif %}
                      <h4>{{i.name }}</h4>
                      <p><i class="fas fa-envelope"></i> {{i.email}}</p>
                      {% if i.qualification %}
                        {{i.qualification}} ({{i.position}})
                      {% endif %}
                    </div>  
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

</script>
{% endblock %}