{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card demo-icons">
          <div class="card-header text-center">
            <h5 class="card-title">Pending Orders ({{orders|length}})</h5>
          </div>
          <div class="card-body bg-light">
            <div class="container">
              <div class="row">
               <div class="col-md-12"> 
                   <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Course(s)</th>
                            <th>Invoice ID</th>
                            <th>Amount</th>
                            <th>Order Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in orders %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>
                                    {% for j in i.course %}
                                     <div>
                                         <img src="/media/{{j.cover_image}}" height="100" width="150">
                                         <p>{{j.course_title}}</p>
                                         <p>&#8377; {{j.sale_price}}</p>
                                     </div>
                                     <hr>
                                    {% endfor %}
                                </td>
                                <td>{{i.invoice}}</td>
                                <td>&#8377; {{i.amount_total}}</td>
                                <td>{{i.order_date}}</td>
                                <td><button class="btn btn-danger">Cancelled</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                   </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}