{%extends "dashboard/dashboard_base.html"%}
{%load static%}
{%block head%}

<style>
     .bs-example{
         margin: 20px;
     }
     .accordion .fa{
         margin-right: 0.5rem;
     }
 </style>
 
<style>
    .a{
      background: rgba(163, 216, 163,0.9);border-radius: 50%;font-size: 16px ;padding: 10px;
  } 
  .ab{
      font-size: 26px;padding: 10px;border-radius: 50%;
  }
  .img:hover{
      background: mediumseagreen;
  }

  .cl{
       font-size: 10px;
  }
  .insimg{
       border-radius: 50% ;
  }
  .card-header button{
       font-size:16px;
  }
</style>

{%endblock%}
{%block content%}
<script>
     $(document).ready(function(){
         // Add minus icon for collapse element which is open by default
         $(".collapse.show").each(function(){
              $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
         });
         
         // Toggle plus minus icon on show hide of collapse element
         $(".collapse").on('show.bs.collapse', function(){
              $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
         }).on('hide.bs.collapse', function(){
              $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
         });
     });
 </script>
    <div class="container-fluid" style="background: url(/static/assets/img/damir-bosnjak.jpg); background-size: 100% 100%; padding-top:60px;padding-bottom: 50px;">
         <div class="row align-item-center">
              <div class="col-md-12 text-white my-2 ">
                   <ol class="list-inline">
                      <li  class="list-inline-item"><a href="{% url 'myapp:instructor_dashboard' %}" class="text-white">Dashboard>></a></li>
                      <li  class="list-inline-item text-white" style="color: lightslategrey;">Details</li>
                      <h1 class="text-center mb-3">Courses Details</h1>
                      <h1 style="height:50px;"></h1>
                   </ol>
              </div>
         </div>
    </div>

<div class="container">`
    <div class="row  align-item-center">
         <div class="col-md-6"  style=" margin-top: -150px;">
              <ul class="list-inline py-2 px-4 bg-light" style="border-radius:20px;">
                  <li class="list-inline-item ">
                    <img src="/media/{{course.cover_image}}" height="250" width="100%">
                  </li>
              </ul>
          </div>   
    </div> 
</div> 
<div class="container">
    <div class="row">
         <div class="col-md-12 ">
              <h1>{{course.course_title}}</h1>
                 
                  <div class="row mt-5"> 
                      <div class="col-md-12"> <div class="card padding-30 shadow">
                            <h4 class="ml-2">Features Includes:</h4>
                                <ul class="list-inline mt-2">
                                    <li class="list-inline-item my-2">
                                        <i class="fas fa-headphones-alt ml-2 text-success"></i>
                                        <span class="ml-2">{{cc|length}} lectures</span>
                                    </li>
                                    <li class="list-inline-item my-2">
                                        <i class="fas fa-clock ml-2 text-success"></i>
                                        <span class="ml-2">{{course.total_hours}} Hours</span>
                                    </li>
                                    <li class="list-inline-item my-2">
                                        <i class="fas fa-user ml-2 text-success"></i>
                                        <span class="ml-2">98,250 students entrolled</span>
                                    </li>
                                    <li class="list-inline-item my-2">
                                        <i class="fas fa-sync-alt ml-2 text-success"></i>
                                        <span class="ml-2"> Lifetime access</span>
                                    </li>
                                    <li class="my-2">
                                        <i class="fas fa-crown ml-2 text-success"></i>
                                        <span class="ml-2"> Certificate of Completion</span>
                                    </li>
                                    <li class="my-2 list-inline-item">
                                        <i class="fas fa-crown ml-2 text-success"></i>
                                        <span class="ml-2">30-Day Money-Back Guarantee of Completion</span>
                                    </li>
                                </ul> 
                       </div>
                      </div>
                  </div>
                  <div class="row">
                       <div class="col-md-12 mt-4">
                            <ul class="nav nav-tabs border-bottom mb-5" role="tablist">
                                <li class="nav-item ">
                                     <a class="nav-link active" data-toggle="tab" href="#tabdescription">Description</a></li>
                                <li class="nav-item">
                                     <a  class="nav-link"  data-toggle="tab" href="#tabcurriculum"> Curriculum</a></li>
                                <li class="nav-item">
                                     <a  class="nav-link"  data-toggle="tab" href="#tabinstructors"> Instructors</a></li>
                                <li class="nav-item">
                                     <a  class="nav-link"  data-toggle="tab" href="#tabreviews"> Reviews</a></li>

                            </ul>
                            <div class="tab-content">
                                 <div class=" tab-pane  container active" id="tabdescription">
                                      <h4>Course Description</h4>
                                      <p class="text-justify">
                                           {{course.description}}
                                      </p>
                                      <em>- {{course.added_on}}</em>                                          

                                 </div>
                                 <div class="tab-pane container fade" id="tabcurriculum">
                                   <div class="bs-example">
                                        <div class="accordion" id="accordionExample">
                                             {% for i in cc %}     
                                            <div class="card">
                                                <div class="card-header" id="heading{{i.id}}">
                                                    <h2 class="mb-0">
                                                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse{{i.id}}"><i class="fa fa-plus"></i>{{i.topic_name}}</button>									
                                                    </h2>
                                                </div>
                                                <div id="collapse{{i.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p>{{i.content}}</p>
                                                        <video src="/media/{{i.file}}" controls>
                                                             <source src="/media/{{i.file}}">
                                                        </video>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                 </div>
                                 <div class=" tab-pane fade" id="tabinstructors">
                                      <h3 class="mb-5">About Instructor</h3> 
                                              <div class="row">
                                                   <div class="col-md-2">
                                                       {% if course.inst_id.profile_picture %}
                                                       <img src="/media/{{course.inst_id.profile_picture}}" alt="..." class="rounded-circle" height="150" width="150">
                                                     {% else %}
                                                       <img src="/static/noimg.png" alt="..."  class="rounded-circle" height="150" width="150">
                                                     {% endif %}
                                                  </div>
                                                   <div class="col-md-10">
                                                        <h4><i class="far fa-user"></i> {{course.inst_id.first_name}}</h4>
                                                        <p><i class="fas fa-globe"></i> {{course.inst_id.position}}<br/>
                                                         &nbsp; &nbsp; 147570 studends  <i class="fas fa-book-open"></i>  {{course|length}} Courses <i class="far fa-star text-warning"></i> 4.9  Average Rating (4578)</p>
                                                   </div>
                                              </div>
                  
                                  </div>
                                 <div class="container tab-pane fade " id="tabreviews">
                                      <div class="col-md-12 ">
                                                <h3>Student's Feedbacks</h3>
                                                <div class="card-header bg-white shadow" style="border: 1px solid gainsboro;">
                                                     <div class="row">
                                                          <div class="col-md-4">
                                                               <h1 class="text-success">4.70</h1>
                                                               <p>
                                                                     <i class="fas fa-star text-warning" ></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                               </p>
                                                               <p>Average Rating</p>
                                                          </div>
                                                          <div class="col-md-8">
                                                               <p style="display: inline;">
                                                                     <i class="fas fa-star text-warning" ></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                               </p>
                                                           
                                                               <p style="display: inline;"> 
                                                                    <i class="fas fa-star text-warning" ></i>
                                                                    <i class="fas fa-star text-warning"></i>
                                                                    <i class="fas fa-star text-warning"></i>
                                                                    <i class="fas fa-star text-warning"></i>
                                                                    <i class="fas fa-star text-light"></i>
                                                                    <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                                                    </div>
                                                               </p>
                                                             
                                                               <p style="display: inline;">
                                                                    <i class="fas fa-star text-warning" ></i>
                                                                    <i class="fas fa-star text-warning"></i>
                                                                    <i class="fas fa-star text-warning"></i>
                                                                    <i class="fas fa-star text-light"></i>
                                                                    <i class="fas fa-star text-light"></i>
                                                                <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 50%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                               </div>
                                                               </p>
                                                           
                                                               <p style="display: inline;">
                                                                     <i class="fas fa-star text-warning" ></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 30%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                                </div>
                                                                </p>
                                                                
                                                                <p style="display: inline;">
                                                                     <i class="fas fa-star text-warning" ></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                <div class="progress progress-bar bg-success" role="progressbar" style="height: 10px; width: 15%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                               </div>
                                                               </p>
                                                          </div>
                                                     </div>
                                                </div>
                                                <div class="card-footer bg-white ">
                                                     <div class="row">
                                                          <div class="col-md-4 p-4">
                                                            <img src="{%static 'images/sc4.jpg'%}" class="card-img" style="border-radius: 50%; height:80px;width: 80px;">
                                                            <small style="display: inline-block;">3 mon ago<br/>
                                                            <h5 class="text-dark">Anthony</h5></small>
                                                       </div>
                                                          <div class="col-md-8">
                                                               <p>
                                                                    <i class="fas fa-star text-warning" ></i>
                                                                    <i class="fas fa-star text-warning"></i>
                                                                    <i class="fas fa-star text-warning"></i>
                                                                    <i class="fas fa-star text-warning"></i>
                                                                    <i class="fas fa-star text-warning"></i>
                                                               </p>
                                                               <p>Awesome course</p>
                                                               <p class="text-justify">Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty they conctetur they kedadip lectores legee sicing.</p>
                                                          </div>
                                                     </div>
                                                </div>
                                                 <div class="card-footer bg-white ">
                                                      <div class="row">
                                                           <div class="col-md-4 p-4">
                                                                <img src="{%static 'images/sc5.jpg'%}" class="card-img" style="border-radius: 50%; height:80px;width: 80px;">
                                                                <small style="display: inline-block;">3 mon ago<br/>
                                                                <h5 class="text-dark">Murir Dokan</h5></small>
                                                           </div>
                                                           <div class="col-md-6">
                                                                <p>
                                                                     <i class="fas fa-star text-warning" ></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                     <i class="fas fa-star text-light"></i>
                                                                    </p>
                                                                <p>Test review lol</p>
                                                                <p class="text-justify">Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty.</p>
                                                           </div>
                                                      </div>
                                                </div>
                                                <div class="card-footer bg-white p-4">
                                                      <div class="row">
                                                           <div class="col-md-4">
                                                                <img src="{%static 'images/sc7.jpg'%}" class="card-img" style="border-radius: 50%; height:80px;width: 80px;">
                                                                <small style="display: inline-block;">1 mon ago<br/>
                                                                <h5 class="text-dark">Justin Nam</h5></small>
                                                           </div>
                                                           <div class="col-md-8">
                                                                <p>
                                                                     <i class="fas fa-star text-warning" ></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                               </p>
                                                                <p class="text-justify">This is a title of review. the developer suffer from lot's of vitamin. what about you?</p>
                                                                <p class="text-justify">Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty they conctetur they kedadip lectores legee sicing.</p>
                                                           </div>
                                                      </div>
                                                </div>
                                                <div class="card-footer bg-white p-4">
                                                      <div class="row">
                                                           <div class="col-md-4">
                                                                <img src="{%static 'images/sc4.jpg'%}" class="card-img" style="border-radius: 50%; height:80px;width: 80px;">
                                                                <small style="display: inline-block;">1 year ago<br/>
                                                                <h5 class="text-dark">John Doe</h5></small>
                                                           </div>
                                                           <div class="col-md-8">
                                                                <p>
                                                                     <i class="fas fa-star text-warning" ></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                     <i class="fas fa-star text-warning"></i>
                                                                </p>
                                                                <p>Best course ever</p>
                                                                <p class="text-justify">Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty they conctetur they kedadip lectores legee sicing. Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty they conctetur they kedadip lectores legee sicing.</p>
                                                           </div>
                                                      </div>
                                                </div>
                                                 <div class="col-md-12 mb-5 text-center">
                                                      <button class="btn btn-outline-success">Load More</button>
                                                 </div>
                                          </div>
                                  </div>
                            </div>
                       </div>
                 </div>
         </div> 
    </div>
</div>

{%endblock%}