{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block head %}
<style>
  
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card demo-icons">
          <div class="card-header text-center">
            <h5 class="card-title">My Orders ({{courses|length}})</h5>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row hello">
               
                {% for i in courses %}
                <div class="col-xl-12 col-lg-12 col-md-12 mb-5">
                    <div class="single_courses">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="thumb">
                            <a href="{% url 'myapp:single_course' %}?cid={{i.id}}&type=normal">
                                <img src="/media/{{i.cover_image}}" height="200" width="100%">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="courses_info">
                            <span>{{i.course_category.course_title}}</span>
                            <h3 style="height:50px;"><a href="{% url 'myapp:student_single_course' %}?cid={{i.id}}"></a>{{i.course_title}}</a></h3>
                            <div class="star_prise d-flex justify-content-between">
                            
                                <div class="prise" style="font-size:22px;">
                                    <span class="offer"><del>&#8377; {{i.course_price}}</del></span>
                                    <span class="active_prise">
                                        &#8377; {{i.sale_price}}
                                    </span>
                                </div>
                            </div>
                            <div>
                              <a href="{% url 'myapp:student_single_course' %}?cid={{i.id}}" class="btn btn-success rounded-pill">Read Course</a>
                            </div>
                        </div>
                        </div>
                      </div>
                        
                    </div>
                </div>    
                {% endfor %}
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}