<div class="col-md-12">
      <div class="card demo-icons">
        <div class="card-header text-center">
          <h5 class="card-title">All topics ({{topics|length}}) </h5>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div id="accordion">
                {% for i in topics %}
                  <div class="card">
                    <div class="card-header ch">
                      <a class="float-left card-link {% if i.id == topics|length %} collapsed {% endif %}" data-toggle="collapse" href="#collapse{{i.id}}">
                        {{i.topic_name}}
                      </a>
                      <a onclick="delTopic('{{i.id}}','{{i.topic_name}}')" class="float-right card-link"><i class="fa fa-trash ic"></i></a>
                    </div>
                    <div id="collapse{{i.id}}" class="collapse {% if   i.id == topics|length %} show {% endif %} " data-parent="#accordion">
                      <div class="card-body">
                        {{i.content}}
                        <video src="/media/{{i.file}}" controls  width="100%">
                          <source src="/media/{{i.file}}">
                        </video>

                        <em class="float-right">Upload On: {{i.added_on}}</em>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>