{% extends "dashboard/dashboard_base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="/static/assets/img/damir-bosnjak.jpg" alt="...">
          </div>
          <div class="card-body">
            <div class="author">
              <a href="#">
                {% if inst.profile_picture %}
                <img class="avatar border-gray" src="/media/{{inst.profile_picture}}" alt="...">
                {% else %}
                <img class="avatar border-gray" src="/static/noimg.png" alt="...">
                {% endif %}
                <h5 class="title">{{user.first_name}}</h5>
              </a>
              <p class="description">
                {{user.email}}
              </p>
            </div>
            <p class="description text-center">
              "
              {% if inst.about %}
                {{inst.about}}
              {% else %}
              I like the way you work it <br>
              No diggity <br>
              I wanna bag it up
              {% endif %}
              "
            </p>
            <div class="text-center ">
              <strong>Change Profile</strong>
              <input type="hidden" value="ABCD" name="abcd">
              <input type="file" name="myimage" class="btn btn-primary w-75" value={{inst.profile_picture}}>
            </div>
          </div>
          {% if user.is_staff %}
          <div class="card-footer">
            <hr>
            <div class="button-container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-6 ml-auto">
                  <h5>0<br><small>Course</small></h5>
                </div>
                <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                  <h5>0<br><small>Student</small></h5>
                </div>
                <div class="col-lg-4 mr-auto">
                  <h5>0<br><small>Comment</small></h5>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Recent Users</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled team-members">
              {% for i in all_inst %}
              <li>
                <div class="row">
                  <div class="col-md-2 col-2">
                    <div class="avatar">
                      <img src="/media/{{i.profile_picture}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                  </div>
                  <div class="col-md-7 col-7">
                    {{i.user_id.first_name}}
                    <br />
                    <span class="text-muted"><small>
                      {% if i.position %}
                      {{i.position}}
                      {% else %}
                        User
                      {% endif %}
                    </small></span> <br>
                  </div>
                  <div class="col-md-3 col-3 text-right">
                    <btn class="btn btn-sm btn-outline-success btn-round btn-icon" title="{{i.user_id.email}}"><i class="fa fa-envelope"></i></btn>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Edit Profile</h5>
            <div>
              {% if status %}
              <p class="text-success"> {{status}} </p>
              {% endif %}
            </div>
          </div>
          <div class="card-body">
           
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>username (disabled)</label>
                    <input type="text" class="form-control" disabled="" placeholder="Username" value="{{user.username}}">
                  </div>
                </div>
                <div class="col-md-3 px-1">
                  <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" placeholder="Full Name" value="{{user.first_name}}" name="name">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" placeholder="Email" value="{{user.email}}" name="email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Contact Number</label>
                    <input type="text" class="form-control" placeholder="Contact Number" value= "{{inst.contact}}" name="contact" pattern="[0-9]{10,}" title="Enter a valid mobile number">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>City Name</label>
                    <select name="city" class="form-control">
                      {% for i in city %}
                      {% if i.id == inst.city_id.id %}
                        <option value="{{i.id}}" selected>{{i.city_name}}</option>
                      {% else %}
                        <option value="{{i.id}}">{{i.city_name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Current Position</label>
                    <input type="text" class="form-control" placeholder="Current Position" value="{{inst.position}}" name="cp">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Qualification</label>
                    <input type="text" class="form-control" placeholder="Your Qualufication" value="{{inst.qualification}}" name="qual">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <textarea name="address" class="form-control textarea" placeholder="Home Address">{{inst.full_address}}</textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Instagram Address</label>
                    <input type="url" class="form-control" placeholder="Instagram" value="{{inst.instagram_address}}" name="instagram">
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Facebook Address</label>
                    <input type="url" class="form-control" placeholder="Facebook" value="{{inst.facebook_address}}" name="facebook">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label>Twitter Address</label>
                    <input type="url" class="form-control" placeholder="Twitter" value="{{inst.twitter_address}}" name="twitter">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea class="form-control textarea" name="about">{{inst.about}}</textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                </div>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}